node_modules/
proto/
!src/proto/
!src/proto/proto/
.env
dist/
cert.pfx
key.pem
config.json
package-lock.json
ecosystem.config.js

# yarn
.npmrc
.cache
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
